<div id="container" *ngIf="userProfile.show">
  <div class="row">
    <div class="alert alert-primary" style="width:100%;">
      <strong>Update User Information </strong>
    </div>
    <form [formGroup]="updateUser" (ngSubmit)="onSubmit(updateUser.value)" class="form-registerUser">
      <div class="for-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" placeholder="{{userProfile.userInfo.name}}" formControlName="name" required
          autofocus>

        <label for="email">Email address</label>
        <input type="text" name="email" class="form-control" placeholder="{{userProfile.userInfo.email}}" formControlName="email" required>

        <label for="password">Password</label>
        <input type="text" name="password" class="form-control" placeholder="{{userProfile.userInfo.password}}" formControlName="password"
          required>

        <input type="hidden" name="usertype" formControlName="usertype">
        <input type="hidden" name="userID" formControlName="userID">
      </div>

      <div id="register-buttons">
        <button class="btn btn-lg btn-primary btn-block" id="register-button" input type="submit" value="Register" [disabled]="!updateUser.valid">Submit Change</button>
        <button (click)="toggle()" class="btn btn-lg btn-primary btn-block" id="cancel-button">Cancel</button>
      </div>
    </form>
  </div>
</div>