<div>
  <header class="v-header container">
    <!-- Div container the video background -->
    <div class="fullscreen-video-wrap">
      <!-- the image file location, will play when loaded and will play again when ending. -->
      <video style="muted:true" src="../../../assets/cat.mp4" autoplay="true" loop="true" id="video"></video>
    </div>
    <!-- bootstrap container containing the login form -->
    <div class="header-overlay"></div>
    <div class="header-content">
      <app-login-form></app-login-form>
    </div>
  </header>
</div>
