<form *ngIf="show" class="form-login animated fadeIn" method="post">
  <!--<img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
  <h1 class="h1 mb-1 font-weight-bold">A.R.Center</h1>
  <p class="mt-1 mb-1">Finding pets new homes</p>
  <p class="mt-1 mb-3">to weather life's storms</p>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input #email type="email" name="username" id="inputEmail" class="form-control" placeholder="Email address" required minlength="1" autofocus>
  <label #password for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required minlength="1">
  <!--   commented out the remember me checkbox for future functionality.
      <div class="checkbox mb-3">
          <label>
                <input type="checkbox" value="remember-me"> Remember me
          </label>
      </div>
      -->
  <div id="login-buttons">
    <button (click)="login(email.value, password.value)" (keyup.enter)="login(email.value, password.value)" class="btn btn-lg btn-primary btn-block" id="signin-button" type="submit">Sign in</button>
    <button (click)="hide()" class="btn btn-lg btn-primary btn-block" id="register-button">Register</button>
  </div>
  <p class="mt-3 mb-3 text-muted">ARC &copy; 2018-2019 {{email}} {{password}}</p>
</form>
<app-register-user-form *ngIf="!show"></app-register-user-form>
