 <form    #userlogin="ngForm" (ngSubmit)="login(userlogin.value)" class="form-login">
  <h1 class="h1 mb-1 font-weight-bold">A.R.Center</h1>
  <p class="mt-1 mb-1">Finding pets new homes</p>
  <p class="mt-1 mb-3">to weather life's storms</p>

  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" name="email"  ngModel class="form-control" placeholder="Your email" required autofocus>
  
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password"  ngModel  class="form-control" placeholder="Password" required>
  
   <div id="login-buttons">
  <Input class="btn btn-lg btn-primary btn-block"  id="register-button" type="submit" value="Log In">   
  <a routerLink="/registerUserForm" class="btn btn-lg btn-primary btn-block" role="button" value="Register">Register</a>
  </div>
  <p class="mt-3 mb-3 text-muted">ARC &copy; 2018-2019</p>
</form>  


<!--  <ul *ngFor="let appl of applications">
  <li>{{appl.phone}} / {{appl.housetype}}</li>
</ul>  -->
 

