<form class="form-login" action="login" method="post">
  <!--<img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
  <h1 class="h1 mb-1 font-weight-bold">A.R.Center</h1>
  <p class="mt-1 mb-1">Finding pets new homes</p>
  <p class="mt-1 mb-3">to weather life's storms</p>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" name="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <!--   commented out the remember me checkbox for future functionality.
      <div class="checkbox mb-3">
          <label>
                <input type="checkbox" value="remember-me"> Remember me
          </label>
      </div>
      -->
  <div id="login-buttons">
    <button class="btn btn-lg btn-primary btn-block" id="signin-button" type="submit">Sign in</button>
    <button class="btn btn-lg btn-primary btn-block" id="register-button" type="submit">Register</button>
  </div>
  <p class="mt-3 mb-3 text-muted">ARC &copy; 2018-2019</p>
</form>
