<br/><br/><br/>
<div>
    <form #meetupForm="ngForm" (ngSubmit)="applyMeetup(meetupForm.value)" class="form-visitorForm" >
        <h1 class="h1 mb-1 font-weight-bold">Visitor Form</h1>
        <p class="mt-1 mb-1">Want to visit a pet before adopting?</p>
        <input type="hidden" [ngModel] = "animalID"  name="animalID"  ngModel >
		 <input type="hidden" [ngModel]="userID" name="userID" ngModel >
        <div id="logistics-container">
            <div class="form-group">
                <label for="date-input" class="col-form-label">Date of Visit</label>
                
                <input class="form-control" type="date" id="meetupDay" name="meetupday" [(ngModel)]="meetupday">
            </div>
            <div class="form-group">
                <label for="time-of-arrival" class="col-form-label">Start Time</label>
                <input class="form-control" type="time" id="meetupTime" name="meetuptime" [(ngModel)]="meetuptime">
            </div>
        </div>
        <div class="visitorForm-btns">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Cancel</button>
        </div>

    </form>
</div>