
<div>
    <form class="form-visitorForm" action="visitorForm" method="post">
        <!--<img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
        <h1 class="h1 mb-1 font-weight-bold">Visitor Form</h1>
        <p class="mt-1 mb-1">Want to visit a pet before adopting?</p>
        <label for="fullname" class="col-form-label">Your Name</label>
        <div class="form-group">
            <input type="text" name="fullname" id="fullName" class="form-control" placeholder="Full name" required autofocus>
        </div>
        <div id="logistics-container">
            <div class="form-group">
                <label for="date-input" class="col-form-label">Date of Visit</label>
                <input class="form-control" type="date" id="date-of-visit">
            </div>
            <div class="form-group">
                <label for="time-of-arrival" class="col-form-label">Start Time</label>
                <input class="form-control" type="time" id="start-time">
            </div>
        </div>
        <div class="visitorForm-btns">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Cancel</button>
        </div>

    </form>
</div>