<div id="adoptionForm-container">
    <form class="form-manageAdoptionForm" action="manageAdoptionForm" method="post">
        <!--<img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
        <h1 class="h1 mb-1 font-weight-bold">Adoption Form</h1>
        <p class="mt-1 mb-1">Register for free</p>
        <label for="name" class="sr-only">Name</label>
        <div class="form-group">
            <input type="text" name="name" id="name" class="form-control" placeholder="Name" disabled>
        </div>
        <label for="address" class="sr-only">Address</label>
        <div class="form-group">
            <input type="text" name="address" id="address" class="form-control" placeholder="Address" disabled>
        </div>
        <label for="profession" class="sr-only">Profession</label>
        <div class="form-group">
            <input type="text" name="profession" id="profession" class="form-control" placeholder="Profession" disabled>
        </div>
        <label for="phone" class="sr-only">Phone Number</label>
        <div class="form-group">
            <input type="number" step=1 name="phoneNumber" id="phoneNumber" class="form-control" placeholder="Phone Number" disabled>
        </div>
        <div id="housing-types-container">
            <fieldset class="form-group" id="housing-types">
                <legend>Housing Type</legend>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked disabled> Apartment
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" disabled> Single Home
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled> Townhome
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios4" value="option4" disabled> Condo
                    </label>
                </div>
            </fieldset>
        </div>
        <div id="adoptionForm-btns">
            <button class="btn btn-lg btn-primary btn-block" type="submit" routerLink="/adoptionForms">Approve</button>
            <button class="btn btn-lg btn-primary btn-block" type="submit" routerLink="/adoptionForms">Deny</button>
            <button class="btn btn-lg btn-primary btn-block" routerLink="/adoptionForms">Cancel</button>
        </div>

    </form>
</div>