<div *ngIf="show" id="adoptionForm-container" class="animated fadeIn">
    <form (ngSubmit)="onSubmit()" class="form-manageAdoptionForm">
        <h1 class="h1 mb-1 font-weight-bold">Adoption Form</h1>
        <div id="info">
            <div id="inputs">
                <label for="name" class="sr-only">Name</label>
                <div class="form-group">
                    <input type="text" name="applicantName" value="{{currApplication.user.name}}" id="name" disabled>
                </div>
                <label for="address" class="sr-only">Address</label>
                <div class="form-group">
                    <input type="text" name="address"  value="{{currApplication.address}}" id="address" disabled>
                </div>
                <label for="profession" class="sr-only">Profession</label>
                <div class="form-group">
                    <input type="text" name="profession" value="{{currApplication.profession}}" id="profession"disabled>
                </div>
                <label for="phone" class="sr-only">Phone Number</label>
                <div class="form-group">
                    <input type="text" step=1 name="phoneNumber"  value="{{currApplication.phone}}" id="phoneNumber" disabled>
                </div>
            </div>
            <div id="housing-types-container">
                <fieldset class="form-group" id="housing-types">
                    <legend>Housing Type</legend>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="housingType"  id="optionsRadios1" ngModel="{{currApplication.housetype}}" value="Apartment" disabled> Apartment
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="housingType" id="optionsRadios2"  ngModel="{{currApplication.housetype}}" value="Single Home" disabled> Single Home
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="housingType"  id="optionsRadios3"  ngModel="{{currApplication.housetype}}" value="Townhome" disabled> Townhome
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="housingType"  id="optionsRadios4"  ngModel="{{currApplication.housetype}}" value="Condo" disabled> Condo
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>
        <div id="adoptionForm-btns">
            <button (click)="approve()" class="btn btn-lg btn-primary btn-block form-control" type="submit" value="Approved">Approve</button>
            <button (click)="deny()" class="btn btn-lg btn-primary btn-block form-control" type="submit" value="Denied">Deny</button>
            <button (click)="hide();" class="btn btn-lg btn-primary btn-block">Cancel</button>
        </div>
    </form>
</div>