
.form-manageVisitorForm{
    margin: 150px auto 0px auto;
    padding: 30px 40px;
    width: 390px;
    white-space: nowrap;
    border-style: solid;
    border-width: 5px;
}

h1{
    font-size: 2.5em;
    padding-bottom: 5px;
}

h1, p{
    text-align: center;
}

.form-group{
    margin-bottom: 0px;
}

#logistics-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
    grid-gap: 5px;
}

#date-of-visit{
    width: 175px;
}
#start-time{
    width: 120px;
}

.manageVisitorForm-btns{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin-top: 15px;
}
.btn{
    font-size: 1em;
    padding: 5px 0px;
    width: 100%;
    min-width: 90px;
    margin-top: 0px !important;
}

@media(max-width: 410px){
    #form-visitor-container{
        padding: 10px;
    }
    .form-manageVisitorForm{
        margin: 100px auto;
        max-width: 350px;
        width: 100% !important;
        min-width: 245px;
        text-align: center;
        padding: 25px;
        border-style: solid;
        border-width: 5px;
    }
    .form-control{
        width: 100%;
    }
    h1{
        font-size: 1.75em !important;
    }
    p{
        display: none;
    }
    .form-control{
        width: 100%;
        min-width: 175px;
        margin: auto;
    }
    #logistics-container{
        display:block;
        width: 100%;
        min-width: 175px;
        margin: auto;
        margin-bottom: 10px;
    }
    #start-time{
        min-width: 175px;
    }

    .manageVisitorForm-btns{
        display: block;
        width: 100%;
        min-width: 175px;
    }
    .btn{
        margin: 0px auto 8px auto !important;
    }
}