.form-updateUser{
    margin: 150px auto;
    padding: 30px 40px;
    width: 410px;
    white-space: nowrap;
    border-style: solid;
    border-width: 5px;
}

h1{
    font-size: 2.5em;
    padding-bottom: 5px;
}

h1, p{
    text-align: center;
}

.form-group{
    margin-bottom: 10px;
}

#updateUser-btns{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}
.btn{
    font-size: 1em;
    padding: 5px 0px;
    width: 100%;
    min-width: 90px;
    margin-top: 0px !important;
}

@media(max-width: 410px){
    #updateUser-container{
        padding: 10px;
    }
    .form-updateUser{
        margin: 100px auto;
        width: 280px;
        text-align: center;
        padding: 25px;
        border-style: solid;
        border-width: 5px;
    }
    h1{
        font-size: 1.75em !important;
    }
    p{
        display: none;
    }
    .form-control{
        width: 100%;
        min-width: 175px;
        margin: auto;
    }
    #updateUser-btns{
        display: block;
        width: 100%;
        min-width: 175px;
    }
    .btn{
        margin: 0px auto 8px auto !important;
    }
}