<br/><br/><br/>
<div class="row">
	<div class="alert alert-warning" style="width: 100%; text-align: center;">
		<strong><h4> Date:  {{sDate}} </h4></strong>
	</div>
</div>
<div class="row">
	<div class="alert alert-primary" style="width: 100%; text-align: center;">
		<strong><h4>Schedules on Pending</h4></strong>
	</div>
</div>
 
<div class="row">
	<table class="table table-bordered"  >
	<thead>
	<tr>
		<th>Animal Name</th>
		<th>User Name</th>
		<th>Schedule Time</th>
		<th>Approve</th>
		<th>Deny</th>
	</tr>
	</thead>
	<tbody>
	    <ng-container *ngFor="let meetup of meetups">
		    <ng-container *ngIf="meetup.meetupStatus == 'Pending'">
		      <tr>
		        <td  style="width: 20%;">{{meetup.animal.name}}</td>
		        <td style="width: 20%;">{{meetup.user.name}}</td>
		        <td style="width: 20%;">{{meetup.meetupDate | date:'shortTime'}}</td>
		        <td style="width: 20%;"><button class="btn btn-dark btn-lg"  (click)="approve(meetup)"  type="submit" value="Approved">Accept</button></td>
		        <td style="width: 20%;"><button class="btn btn-dark btn-lg" (click)="deny(meetup)"  type="submit" value="Denied">Deny</button></td>
		      </tr>
	    	</ng-container>
	    </ng-container>
	</tbody>
	  </table>
</div>
 
<br/>
<div class="row">
	<div class="alert alert-primary" style="width: 100%; text-align: center;">
		<strong><h4>Resolved Schedules</h4></strong>
	</div>
</div>

<div class="row">
	<table class="table table-bordered">
    <thead>
      <tr>
        <th>Animal</th>
        <th>Visitor</th>
        <th>Time</th>
        <th >Reserve Status</th>
      </tr>
    </thead>
    <tbody>
     <ng-container *ngFor="let meetup of meetups">
    <ng-container *ngIf="meetup.meetupStatus != 'Pending'">
      <tr>
        <td>{{meetup.animal.name}}</td>
        <td>{{meetup.user.name}}</td>
        <td>{{meetup.meetupDate | date:'shortTime'}}</td>
        <td><button disabled class="btn btn-dark btn-lg">{{meetup.meetupStatus}}</button></td>
      </tr>
    </ng-container>
    </ng-container>
    </tbody>
  </table>
</div>
 
