<form #userRegister="ngForm" (ngSubmit)="registerUser(userRegister.value)" class="form-registerUser">
  <!--<img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
  <h1 class="h1 mb-1 font-weight-bold">Register</h1>
  
  <label for="fullname" class="sr-only">Name</label>
  <input type="text" name="name"  ngModel  class="form-control" placeholder="Full name" required autofocus>
  
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" name="email"  ngModel class="form-control" placeholder="Your email" required autofocus>
  
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password"  ngModel  class="form-control" placeholder="Password" required>
  
  <input type="hidden" name="usertype" value="1" ngModel>
  
  <div id="register-buttons">
    <Input class="btn btn-lg btn-primary btn-block"  id="register-button" type="submit" value="Register"> 
    <button class="btn btn-lg btn-primary btn-block" id="cancel-button" >Cancel</button>
  </div>
  
  <p class="mt-3 mb-3 text-muted">ARC &copy; 2018-2019</p>
</form>
