<div *ngIf="toggle" id="updateAnimal-container">
    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
        <h1 class="h1 mb-1 font-weight-bold">Update Animal</h1>
        <br>
        <label for="animalName" class="sr-only">Name</label>
        <div class="form-group">
            <input type="text" formControlName= "pname" name="name" id="name" class="form-control" value="{{this.currentAnimal.name}}" (keyup)="updateName($event)" autofocus>
        </div>
        <div class="form-group">
           <select class="form-control" formControlName = "mat" name="maturity" value="{{this.currentAnimal.maturity}}" [(ngModel)]="maturity">
                <option value="Infant">Infant</option>
                <option value="Young">Young</option>
                <option value="Adult">Adult</option>                 
                <option value="Old">Old</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" formControlName = "spec" name="pettype" value="{{this.currentAnimal.species}}" [(ngModel)]="species">
                <option value="Dog">Dog</option>
                <option value="Cat">Cat</option>
                <option value="Octopus">Octopus</option>
                <option value="Rabbit">Rabbit</option>
                <option value="Fish">Fish</option>
                <option value="Horse">Horse</option>
                <option value="Lizard">Lizard</option>
                <option value="Turtle">Turtle</option>
                <option value="Other">Other</option>
              </select>
        </div>
        <fieldset class="form-group">
            <legend>Gender</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" formControlName="gend" name="gend" id="optionsRadios1"  value="Male" [(ngModel)]="gender"> Male
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" formControlName="gend" name="gend" id="optionsRadios2"  value="Female" [(ngModel)]="gender"> Female
                </label>
            </div>
        </fieldset>
        <div id="updateAnimal-btns">
            <button class="btn btn-lg btn-primary btn-block" input type="submit" value="Submit Form">Submit</button>
            <button class="btn btn-lg btn-primary btn-block" type="button" id="cancel" (click)="hide()">Cancel</button>
        </div>
    </form>
    <br>
    <!-- enctype="multipart/form-data" (ngSubmit)="addImages(iForm.value)"-->
    <form [formGroup]="iForm" (ngSubmit)="addImages(iForm.value)" enctype="multipart/form-data" name="file" >
    <div class="form-group">
            <legend>Profile Images</legend>
            <span class="input-group-addon">
            <input type="file" class="form-control-file" #image1 placeholder="image1" name="file" id="image1" accept="image/*">
            </span>
            <span class="input-group-addon">
            <input type="file" class="form-control-file" #image2 placeholder="image2" name="file" id="image2" accept="image/*">
            </span>
            <span class="input-group-addon">
            <input type="file" class="form-control-file" #image3 name="file" placeholder="image3" id="image3" accept="image/*">
            </span>
            <span class="input-group-addon">
            <input type="file" class="form-control-file" #image4 name="file" placeholder="image4" id="image4" accept="image/*">
            </span>
            <!-- <input type="file" class="form-control-file"> -->
            <small class="form-text text-muted">These images will be displayed on the animals profile.</small>
        </div>
        <div id="updateAnimal-btns">
            <button class="btn btn-lg btn-primary btn-block" input type="submit" value="Submit Form" (click)="hide()">Submit</button>
            <button class="btn btn-lg btn-primary btn-block" type="button" id="cancel" (click)="hide()">Cancel</button>
        </div>
    </form>
</div>