<div id="animals-list">
  <h1>Animals</h1>
  <div class="sort">
    <button class="btn btn-primary">Adopted</button>
    <button class="btn btn-primary ">Available</button>
    <button class="btn btn-primary">Pending Adoption</button>
    <a role="button" routerLink="/registerAnimalForm" class="btn btn-primary float-right">Register New Animal</a>
  </div>
  <br>
  <div class="table-responsive-xl">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Gender</th>
          <th scope="col">Maturity</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>
            <a routerLink="/updateAnimalProfile">Lucia</a>
          </td>
          <td>Cat</td>
          <td>Female</td>
          <td>Adult</td>
          <td>Adopted</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Pietro</td>
          <td>Octopus</td>
          <td>Male</td>
          <td>Young</td>
          <td>Available</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>Dog</td>
          <td>Male</td>
          <td>Mature</td>
          <td>Pending</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Catherine</td>
          <td>Bird</td>
          <td>Female</td>
          <td>Mature</td>
          <td>Pending</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
