<div class="row">
  <!--show only if registered user and animal is still available. -->
  <a class="btn btn-primary" role="button" routerLink="/visitorForm">Schedule Meeting</a>&nbsp;
  
  <!-- show only one of them -->
  <a class="btn btn-primary" role="button" routerLink="/adoptionForm">Adopt Me!</a>&nbsp;
  <!-- <button type="button" class="btn btn-primary" disabled>Adopted</button>
  <button type="button" class="btn btn-primary" disabled>Pending</button> -->
</div>

<br/>

<div class="row">
  <button type="button" class="btn btn-default btn-sm">IMG1</button>&nbsp;
  <button type="button" class="btn btn-default btn-sm">IMG2</button>&nbsp;
  <button type="button" class="btn btn-default btn-sm">IMG3</button>&nbsp;
  <button type="button" class="btn btn-default btn-sm">IMG4</button>&nbsp;
</div>
<br/>

<div class="row">
  <img src="{{imgFileName1}}" height="80%" width="auto">
</div>

<div class="row">
  <ul class="list-group">
  <li class="list-group-item">animalID!!: {{animalID}}</li>
    <li class="list-group-item">Name : Ralph</li>
    <li class="list-group-item">Species : Dog </li>
    <li class="list-group-item">Gender : Male</li>
    <li class="list-group-item">Age : young</li>
  </ul>
</div>
<br/><br/>
 
 