<div class="row">
    <a  role="button" routerLink="/updateUserProfile" class="btn btn-primary">Update MyInfo</a>
</div>
<br/>
<div class="row">
  <div class="alert alert-primary" style="width:100%;">
    <strong>User Information  </strong>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <td style="width:30%;">Name</td>
        <td style="width:70%;">Brad Pitt</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>bradPitt@gmail.com</td>
      </tr>
      <tr>
        <td>Password</td>
        <td>1234</td>
      </tr>       
    </tbody>
  </table>
</div>
<br/>
<div class="row">
    <div class="alert alert-primary" style="width:100%;">
      <strong>Shelter Visit Meeting Schedule  </strong>
    </div>
    <table class="table">
      <thead>
        <th style="width:30%;">Animal Name</th>
        <th style="width:40%;">Date</th>
        <th style="width:30%;">Status </th>
      </thead>
      <tbody>
        <tr>
          <td >Ralph</td>
          <td >2018-03-10</td>
          <td >Pending</td>
        </tr>
        <tr>
            <td >Mimi</td>
            <td >2018-03-15</td>
            <td >Approved</td>
          </tr>
          <tr>
              <td >Peter</td>
              <td >2018-04-10</td>
              <td >pending</td>
            </tr>
            <tr>
              <td >Ralpher</td>
              <td >2018-03-10</td>
              <td >Pending</td>
            </tr>
      </tbody>
    </table>
</div>
<br/>
<div class="row">
    <div class="alert alert-primary" style="width:100%;">
        <strong> Brad Pitt's Adoption History  </strong>
      </div>
      <table class="table">
        <thead>
          <th style="width:30%;">Animal Name</th>
          <th style="width:40%;">Date</th>
          <th style="width:30%;">Status </th>
        </thead>
        <tbody>
          <tr>
            <td >Ralph</td>
            <td >2018-03-10</td>
            <td >Pending</td>
          </tr>
          <tr>
              <td >Mimi</td>
              <td >2018-03-15</td>
              <td >Approved</td>
            </tr>
            <tr>
                <td >Peter</td>
                <td >2018-04-10</td>
                <td >pending</td>
              </tr>
              <tr>
                <td >Ralpher</td>
                <td >2018-03-10</td>
                <td >Pending</td>
              </tr>
        </tbody>
      </table>
</div>